body {
  background: linear-gradient(303deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%) no-repeat center center fixed; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}